body {
  background: url(/assets/images/bg.png);
  font-family: 'Source Sans Pro', sans-serif;
  color: #3e4444;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
a:link {
  text-decoration: none;
  color: #3fa757;
}
a {
  color: #3fa757;
}
a:hover {
  color: #3fa757;
}
.smallfontsize {
  font-size: 13px;
}
.italicfont {
  font-style: italic;
}
/* Images */
img {
  max-width: 100%;
}
/* Wrap */
#wrap {
  max-width: 600px;
  padding: 0px;
  margin: 0px auto 0px;
}
/* Navbar */
nav {
    background-color: #f6f4f4;
    margin: 0;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 30px 20px 20px 20px;
}
nav ul li:not(:first-child) {
  float: right;
  margin: 0px;
  padding-left: 20px;
  padding-top: 10px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    color: #3fa757;
    display: block;
    text-decoration: none;
}
nav ul li a:link {
  text-decoration: none;
}
nav ul li a.logo {

}

@media screen and (max-width: 500px) {
  nav ul li:first-child {
    float: left;
    clear: both;
    padding-right: 30px;
  }
  nav ul li:not(:first-child) {
    float: left;
    margin: 0px;
    padding-right: 20px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

}

/* Content */
.content {
  padding: 10px 20px 20px 20px;
  background-color: #ffffff;
  margin: 0px;
}
.page-title {
  color: #000000;
  font-size: 22px;
  border-bottom: 1px #eeeeee solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.posts-list {
  font-size: 20px;
  line-height: 2.4;
}
/* Footer */
.footer-text {
  border-top: 1px #eeeeee solid;
  padding-top: 10px;
  margin-top: 40px;
}
