<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

<body>
<div id="wrap">
    <nav>
      <ul>
          <li><a class="logo" href="{{ site.url }}"><img src="/assets/images/logo.png" height="40" alt="" /></a></li>
          <li><a href="{{ site.url }}/post-timeline/">Posts Timeline</a></li>
          <li><a href="{{ site.url }}/about/">About</a></li>
          <li><a href="{{ site.url }}">Home</a></li>


      </ul>
    </nav>

    <div class="content">
      {{ content }}
      {%- include footer.html -%}
    </div>

</div>
</body>
</html>
