---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

<body>
<div id="wrap">
    <nav>
      <ul>
          <li><a href="{{ site.url }}">Sudeep's blog</a></li>
          <li><a href="{{ site.url }}/post-timeline/">Posts Timeline</a></li>
          <li><a href="{{ site.url }}/about/">About</a></li>
          <li><a href="{{ site.url }}">Home</a></li>
      </ul>
    </nav>

    <div class="content">
      {{ content }}
      {%- include footer.html -%}
    </div>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32671323-1', 'sudeepacharya.com.np');
  ga('send', 'pageview');

</script>
</body>
</html>
