<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    <div id="wrap">
      <img src="/assets/images/logo.png" height="40" alt="">
        <a class="nav-item nav-link" href="{{ site.url }}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link disabled" href="">About</a>
        <a class="nav-item nav-link disabled" href="">Post Timeline</a>

      <div class="content">
        {{ content }}
        {%- include footer.html -%}
      </div>
      
    </div>
  </body>
</html>
